*{
    padding: 0px;
    margin: 0px;
}

:root {
    --small-font: 15px;
    --big-font: 4rem;
    --primary: linear-gradient(-45deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

 #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-color: var(--Very-Light-Grayish-Blue);
    font-family: Montserrat;
    font-weight: 700;
}

h1{
    padding: 1rem;
    margin: 1rem;
    color: var(--Dark-Grayish-Blue);
}

#sub{
    display: flex;
    color: var(--Grayish-Blue)
}

.sub-item{
    margin: 1rem 1rem 3rem 1rem;
}

.price-card > li{
    list-style: none;
    text-align: center;
    vertical-align: middle;
    padding: 1vw 2vw 1vw 2vw;
}

.price-card{
    border-radius: 1rem;
    background-color: white;
    margin: 2rem 0.5rem 2rem 0.5rem;
    font-size: var(--small-font);
    padding: 2rem;
    box-shadow: 0px 0px 50px 2px var(--Light-Grayish-Blue);
    color: var(--Dark-Grayish-Blue);
}

.sub-price{
    font-size: var(--big-font);
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.learn-more{
    background: var(--primary);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--Very-Light-Grayish-Blue);
}

.info{
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

@media only screen and (min-width: 768px){
    #sub-types{
        display: flex;

    }

    .price-card > li{
      padding: 1vw 4vw 1vw 4vw;
    }

    #container{
        justify-content: center;
        padding: 4rem;
    }

    .price-card:hover{
        background: var(--primary);
        margin: 0rem 0.5rem 0rem 0.5rem;
        padding: 4rem 2rem 4rem 2rem;
        color: var(--Very-Light-Grayish-Blue);
    }

    .price-card:hover > .learn-more{
        background: var(--Very-Light-Grayish-Blue);
        color: var(--Dark-Grayish-Blue)
    }

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background: var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--Grayish-Blue);
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hide {
  display: none;
}